{% extends "base.html" %}

{% block content %}

<h3>Clientes Registrados</h3>
</br>

<form method="POST" action="{% url 'delete_cliente' %}">
  {% csrf_token %}

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Celular</th>
      <th>Email</th>
      <th>Seleccionar</th>
      <th>Imagen</th>
    </tr>
    </thead>
    <tbody >
    {% for item in data %}
    <tr>
      <td>{{ item.rut }}</td>
      <td>{{ item.nombre }}</td>
      <td>{{ item.direccion }}</td>
      <td>{{ item.celular }}</td>
      <td>{{ item.email }}</td>
      <td><input type="checkbox" name="selected_items" value="{{ item.rut }}"></td>
      <td><img src="{{ item.image_url }}"   width="50" height="50" alt=""></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <button type="submit">Delete Selected</button>
</form>
{% if selected_items %}
  <p>Los siguientes clientes han sido eliminados:'' </p>
  <ul>
  {% for item in selected_items %}
    <li>{{ item.rut }}</li>
  {% endfor %}
  </ul>
{% endif %}


{% endblock content %}
